<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <application
        android:name=".APPAplication"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PublicBrowse"></activity>
        <activity
            android:name=".aatest.TestHslClientMqttShow"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensor" />
        <!--
        android:screenOrientation="sensor"  根據物理方向傳感器確定方向. 取決於用戶手持的方向
        android:configChanges="orientation|screenSize|keyboardHidden"  支持横竖屏
        -->
        <activity
            android:name=".aatest.HslClientMqtt"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensor" />
        <activity android:name=".activity.TestFactory" />
        <activity android:name=".activity.PictureDetail" />
        <activity android:name=".activity.SettingActivity" />
        <activity
            android:name=".activity.Browser"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".activity.AboutActivity" />
        <activity
            android:name=".activity.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:resizeableActivity="true" />
        <activity
            android:name=".activity.MvVideo"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:resizeableActivity="true" />
        <activity android:name=".activity.FileChooser" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CoreFragment"
            android:windowSoftInputMode="stateVisible|adjustPan" /> <!-- ......>>>>>>>>>>>>>>>>>>> -->
        <!-- ................xml  mpath.储存问题................... -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.demo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mpath" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REPLACE_EXISTING_PACKAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>